[submodule "deps/sdl"]
	path = deps/sdl
	url = https://github.com/dylan-conway/sdl
[submodule "deps/cglm"]
	path = deps/cglm
	url = https://github.com/dylan-conway/cglm
[submodule "deps/glew"]
	path = deps/glew
	url = https://github.com/dylan-conway/glew
